{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "node": "current",
                "browsers": "last 2 chrome versions"
              }
            }
          }
        ],
        "@zeit/next-typescript/babel"
      ]
    }
  }
}
