{
  "presets": ["next/babel"],
  "plugins": [
    ["import", { "libraryName": "antd" }, "antd"],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ],
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "node": "current",
                "browsers": "last 2 chrome versions"
              }
            }
          }
        ]
      ]
    }
  }
}
