// Ref: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// IMPORTANT: you cannot use LESS helpers in this file
// Ref: https://www.npmjs.com/package/less-vars-to-js

// Check out https://coolors.co/app

@primary-color: #4ba8ff;
@layout-header-background: #000055;
@layout-footer-background: #0b457f;
@layout-body-background: #97bee2;
@component-background: #fff;
@body-background: #0b457f;
